// Background colours
$backgroundColour: #161820 !default;
$codeBackgroundColour: #1f2833 !default;
$featureBackgroundColour: #c5c6c7 !default;
$accentColour: #45a29e !default;

// Text colours
$headingColour: #66fcf1 !default;
$bodyColour: #c5c6c7 !default;
$linkColour: #45a29e !default;
$hoverColour: #78bcfb !default;
$focusColour: #45a29e !default;
$captionColour: #529e99 !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Space Mono, monospace",
  font-size: 12px,
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Karla", monospace',
  font-size: 16px,
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  font-size: 12px,
  regular: 400,
  cap-height: 0.68
) !default;

// Font import, if you're using a non-standard web font
@import url("https://fonts.googleapis.com/css?family=Karla:700,700");
@import url("https://fonts.googleapis.com/css?family=Space Mono:400,700");